[submodule "Satori"]
	path = Satori
	url = https://github.com/Nisoku/Satori
[submodule "Sakko"]
	path = Sakko
	url = https://github.com/Nisoku/Sakko
[submodule "Sazami"]
	path = Sazami
	url = htps:/github.com/Nisoku/Sazami
